p {
    font-weight: 500;
}

code {
    font-size: 95%;
    color: #FA8072;
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}